@use '../../../styles.scss';

:host {
  display: block;
  width: 100%;

  >.expandable-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;

    >.expandable-separator {
      display: grid;
      grid-template-columns: 1fr auto;
      width: 100%;
      height: 0;

      &::before {
        content: '';
        width: 100%;
        height: 50%;
        border-bottom: styles.$border-width solid styles.$secondary-color-lighter-10;
      }

      &.gap-small,
      &.gap-medium,
      &.gap-large {
        visibility: hidden;
      }

      &.gap-small,
      &.line-small {
        height: styles.$gap-small;
      }

      &.gap-medium,
      &.line-medium {
        height: styles.$gap-medium;
      }

      &.gap-large,
      &.line-large {
        height: styles.$gap-large;
      }

      &.hidden {
        visibility: hidden;
        height: 0;
      }
    }

    @mixin variant($color) {
      &>.expandable-header {
        $hover-color: color-mix(in srgb, $color 60%, white);

        color: $color;

        &:hover {
          color: $hover-color;
        }
      }
    }

    $icon-width: 1rem;
    $title-size: 1.2rem;

    >.expandable-header {
      min-height: $title-size;
      height: $title-size;
      display: grid;
      grid-template-columns: auto auto 1fr;
      align-items: center;
      gap: styles.$gap-small;
      cursor: pointer;

      input[type="checkbox"] {
        display: none;
      }

      >.expandable-icon {
        display: grid;
        place-items: center;
        width: $icon-width;
        height: $title-size;

        >.codicon {
          display: grid;
          place-items: center;
          height: auto;
          font-size: $icon-width;
        }
      }

      &:hover {
        color: styles.$primary-color-lighter-40;
      }
    }

    >.expandable-content {
      display: grid;
      grid-template-columns: auto 1fr;
      opacity: 1;
      overflow: visible;
      margin-top: styles.$gap-small;
      min-width: max-content;

      &.hidden {
        display: none;
      }

      >.expandable-nesting-indicator {
        width: $icon-width;

        &:after {
          content: '';
          display: block;
          height: 100%;
          box-sizing: border-box;
          border-right: styles.$border-width solid styles.$secondary-color-lighter-20;
          width: 50%;
        }
      }

      &.nested {
        margin-bottom: 0;

        >.expandable-nesting-indicator {
          width: calc(#{$icon-width} / 2);

          &:after {
            width: 70%;
          }
        }
      }
    }
  }
}
