@use '../../../styles.scss' as styles;

:host {
  display: block;
  width: 100%;

  .expandable-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;

    .expandable-separator {
      display: grid;
      grid-template-columns: 1fr auto;
      width: 100%;
      height: styles.$gap-medium;

      &::before {
        content: '';
        width: 100%;
        height: 50%;
        border-bottom: styles.$border-width solid styles.$secondary-color-lighter-10;
      }

      &.hidden {
        visibility: hidden;
        height: 0;
      }
    }

    @mixin variant($color) {
      &>.expandable-header {
        $hover-color: color-mix(in srgb, $color 60%, white);

        &>label,
        &>.expandable-icon {
          color: $color;
        }

        &:hover>label,
        &:hover>.expandable-icon {
          color: $hover-color;
        }
      }
    }

    &.primary {
      @include variant(styles.$primary-color);
    }

    &.error {
      @include variant(styles.$red);
    }

    $icon-width: 1rem;
    $title-size: 1.2rem;

    .expandable-header {
      min-height: $title-size;
      height: $title-size;
      display: grid;
      grid-template-columns: auto auto 1fr;
      align-items: center;
      gap: styles.$gap-small;
      cursor: pointer;

      input[type="checkbox"] {
        display: none;
      }

      .expandable-icon {
        display: grid;
        place-items: center;
        width: $icon-width;
        height: $title-size;

        .codicon {
          display: grid;
          place-items: center;
          height: auto;
          font-size: $icon-width;
        }
      }

      .expandable-label {
        cursor: pointer;
      }
    }

    .expandable-content {
      display: grid;
      grid-template-columns: auto 1fr;
      opacity: 1;
      overflow: visible;
      gap: styles.$gap-small;
      margin-top: styles.$gap-medium;

      &.hidden {
        display: none;
      }

      .expandable-nesting-indicator {
        width: $icon-width;

        &:after {
          content: '';
          display: block;
          height: 100%;
          box-sizing: border-box;
          border-right: styles.$border-width solid styles.$secondary-color-lighter-20;
          width: 50%;
        }
      }

      &.nested {
        margin-top: 0;

        >.expandable-nesting-indicator {
          width: calc(#{$icon-width} / 2);

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}
