<div class="sidebar unselectable" [style.width.px]="sidebarWidth" [class.resizing]="isResizing"
  [class.collapsed]="isCollapsed" appNoRightClick>
  <div class="resize-handle" (mousedown)="startResize($event)"></div>

  <div class="sidebar-inner">
    <div class="content-area">
      @switch (activeTab) {
      @case ('variables') {
      <div class="tab-content">
        <div class="variables">
          @for (variable of Object.entries(resolvedVariables); track variable[0]) {
          <div class="variable">
            <label>{{variable[0]}}</label>
            <input class="text-field" type="text" [value]="variable[1]" readonly />
          </div>
          }
        </div>
      </div>
      }
      @case ('tasks') {
      <div class="tab-content">
        <div class="tasks">
          @for (task of Object.entries(tasks); track task[0]) {
          <expandable [label]="task[1].description" [(expanded)]="taskExpandedMap[task[0]]"
            [showSeparator]="$index > 0">
            <div class="task">
              <div class="task-item">
                <label>Type:</label>
                <div>{{task[1].task_type}}</div>
              </div>

              @switch (task[1].task_type) {
              @case ('RemoteSudo') {
              <div class="task-item">
                <label>Command:</label>
                <input class="text-field" type="text" [value]="task[1].command" readonly />
              </div>
              }
              @case ('SftpCopy') {
              <div class="task-item">
                <label>Source Path:</label>
                <input class="text-field" type="text" [value]="task[1].source_path" readonly />
              </div>
              <div class="task-item">
                <label>Destination Path:</label>
                <input class="text-field" type="text" [value]="task[1].destination_path" readonly />
              </div>
              }
              @default {
              <div class="task-item">
                <label>Details:</label>
                <div>No specific details for this task type</div>
              </div>
              }
              }
            </div>
          </expandable>
          }
        </div>
      </div>
      }
      @case ('steps') {
      <div class="tab-content">
        <div class="tasks">
          @if (steps && steps.length > 0) {
          @for (step of steps; let stepIndex = $index; track stepIndex) {
          <expandable [label]="'[' + (stepIndex + 1) + '] ' + step.task.description"
            [(expanded)]="stepExpandedMap[stepIndex]" [showSeparator]="stepIndex > 0">
            <div class="task">
              <div class="task-item">
                <label>Type:</label>
                <div>{{step.task.task_type}}</div>
              </div>

              @switch (step.task.task_type) {
              @case ('RemoteSudo') {
              <div class="task-item">
                <label>Command:</label>
                <input class="text-field" type="text" [value]="step.task.command" readonly />
              </div>
              }
              @case ('SftpCopy') {
              <div class="task-item">
                <label>Source Path:</label>
                <input class="text-field" type="text" [value]="step.task.source_path" readonly />
              </div>
              <div class="task-item">
                <label>Destination Path:</label>
                <input class="text-field" type="text" [value]="step.task.destination_path" readonly />
              </div>
              }
              }

              <div class="task-item">
                <label>On-Fail Steps ({{step.on_fail_steps.length}}):</label>
                <div class="tasks">
                  @if (step.on_fail_steps && step.on_fail_steps.length > 0) {
                  @for (onFailTask of step.on_fail_steps; track $index) {
                  <expandable [label]="'[' + ($index + 1) + '] ' + onFailTask.description"
                    [(expanded)]="stepOnFailExpandedMap[getOnFailStepKey(stepIndex, $index)]"
                    [showSeparator]="$index > 0">
                    <div class="task">
                      <div class="task-item">
                        <label>Type:</label>
                        <div>{{onFailTask.task_type}}</div>
                      </div>

                      @switch (onFailTask.task_type) {
                      @case ('RemoteSudo') {
                      <div class="task-item">
                        <label>Command:</label>
                        <input class="text-field" type="text" [value]="onFailTask.command" readonly />
                      </div>
                      }
                      @case ('SftpCopy') {
                      <div class="task-item">
                        <label>Source Path:</label>
                        <input class="text-field" type="text" [value]="onFailTask.source_path" readonly />
                      </div>
                      <div class="task-item">
                        <label>Destination Path:</label>
                        <input class="text-field" type="text" [value]="onFailTask.destination_path" readonly />
                      </div>
                      }
                      }
                    </div>
                  </expandable>
                  }
                  }
                </div>
              </div>
            </div>
          </expandable>
          }
          }
        </div>
      </div>
      }
      }
    </div>

    <div class="tabs">
      @for (tab of tabsConfig; track tab.id) {
      <div class="tab" [class.active]="isTabActive(tab.id)" (click)="toggleTab(tab.id)">
        <label>{{tab.title}}</label>
      </div>
      }
    </div>
  </div>
</div>
