@use '../../styles.scss';

:host {
  height: 100%;
  position: sticky;
  top: 0;
}

.sidebar {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  background-color: styles.$secondary-color-lighter-2;
  box-sizing: border-box;
  border-left: 1px solid styles.$secondary-color-lighter-20;

  &.resizing {
    -webkit-user-select: none;
    user-select: none;
  }

  &.collapsed {
    width: styles.$title-size;
    min-width: styles.$title-size;
    border: none;

    .resize-handle {
      display: none;
    }
  }

  .resize-handle {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    bottom: 0;
    width: 4px;
    cursor: ew-resize;
    z-index: 10;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: styles.$secondary-color-lighter-20;
    }
  }

  .sidebar-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;

    .content-area {
      display: grid;
      opacity: 1;
      visibility: visible;
      min-width: 0;
      overflow: hidden;

      .tab-content {
        display: grid;
        padding: styles.$gap-medium;
        overflow: auto;
      }
    }

    .variables {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      gap: styles.$gap-medium;

      .variable {
        display: grid;
        grid-auto-flow: row;
        gap: styles.$gap-small;
      }
    }

    .tasks {
      display: grid;
      grid-auto-rows: min-content;
      min-width: max-content;

      .task {
        display: grid;
        border-bottom: 1px solid styles.$secondary-color-lighter-10;
        padding-bottom: styles.$gap-small;

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }

    .expandable-content {
      display: grid;
      border: none;
      border-left: 1px solid styles.$primary-color;
      background-color: transparent;
      padding-left: styles.$gap-medium;
      gap: styles.$gap-medium;

      .task-item {
        display: grid;
        gap: styles.$gap-small;
      }
    }

    .tabs {
      display: grid;
      grid-auto-rows: min-content;
      width: calc(#{styles.$title-size} - 1px);
      background-color: styles.$secondary-color-lighter-5;
      border-left: 1px solid styles.$secondary-color-lighter-20;

      .tab {
        display: grid;
        writing-mode: vertical-lr;
        align-items: center;
        justify-items: center;
        width: 100%;
        padding: styles.$gap-medium 0;
        cursor: pointer;
        border-bottom: 1px solid styles.$secondary-color-lighter-20;

        &:focus,
        &:hover {
          label {
            color: styles.$primary-color-lighter-40;
          }
        }


        label {
          cursor: pointer;
        }

        &.active {
          background-color: styles.$secondary-color-lighter-10;
        }
      }
    }
  }
}
