@use '../../styles.scss';

:host {
  height: 100%;
  position: sticky;
  top: 0;
}

.sidebar {
  position: relative;
  height: calc(100vh - #{styles.$titlebar-height});
  min-width: styles.$title-size;
  display: grid;
  grid-template-rows: 1fr;
  transition: width 0.3s ease;
  background-color: styles.$secondary-color-lighter-2;

  &.resizing {
    transition: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &.collapsed {
    width: styles.$title-size;
    min-width: styles.$title-size;

    .resize-handle {
      display: none;
    }
  }

  .resize-handle {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    bottom: 0;
    width: 4px;
    cursor: ew-resize;
    z-index: 10;
    transition: background-color 0.2s ease;
    border-right: 1px solid styles.$secondary-color-lighter-20;

    &:hover {
      background-color: styles.$secondary-color-lighter-20;
    }
  }

  .sidebar-inner {
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;

    .content-area {
      display: grid;
      opacity: 1;
      visibility: visible;
      min-width: 0;
      overflow: hidden;

      .tab-content {
        display: grid;
        padding: styles.$gap-10;
        overflow: auto;

        .variables {
          display: grid;
          grid-auto-flow: row;
          grid-auto-rows: min-content;
          gap: styles.$gap-10;

          .variable {
            display: grid;
            grid-auto-flow: row;
            gap: styles.$gap-5;
          }
        }

        .tasks {
          display: grid;
          grid-auto-rows: min-content;

          .task {
            display: grid;
            border-bottom: 1px solid styles.$secondary-color-lighter-10;
            padding-bottom: styles.$gap-5;

            .expandable-title:hover+.expandable>.expandable-content {
              border-left: 1px solid styles.$primary-color-lighter-40;
            }

            .expandable-content {
              display: grid;
              border: none;
              border-left: 1px solid styles.$primary-color;
              background-color: transparent;
              padding-left: 10px;
              gap: styles.$gap-10;

              .task-item {
                display: grid;
                gap: styles.$gap-5;
              }
            }

            &:last-child {
              border-bottom: none;
              padding-bottom: 0;
            }
          }
        }
      }
    }

    .tabs {
      display: grid;
      grid-auto-rows: min-content;
      width: styles.$title-size - 1px;
      min-width: styles.$title-size - 1px;
      background-color: styles.$secondary-color-lighter-5;
      border-left: 1px solid styles.$secondary-color-lighter-20;

      .tab {
        display: grid;
        writing-mode: vertical-lr;
        align-items: center; // Center the text vertically
        justify-items: center; // Center the text horizontally
        width: styles.$title-size;
        padding: styles.$gap-10 0;
        cursor: pointer;
        border-bottom: 1px solid styles.$secondary-color-lighter-20;

        &.active {
          background-color: styles.$secondary-color-lighter-10;
        }
      }
    }
  }
}
