<div class="sidebar unselectable" [style.width.rem]="sidebarWidth" [class.resizing]="isResizing"
  [class.collapsed]="isCollapsed" appNoRightClick>
  <div class="resize-handle" (mousedown)="startResize($event)"></div>

  <div class="sidebar-inner">
    <div class="content-area">
      @switch (activeTab) {
      @case ('variables') {
      <div class="tab-content">
        <div class="variables">
          @for (variable of Object.entries(resolvedVariables); track variable[0]) {
          <div class="variable">
            <label>{{variable[0]}}</label>
            <input class="text-field" type="text" [value]="variable[1]" readonly />
          </div>
          }
        </div>
      </div>
      }
      @case ('tasks') {
      <div class="tab-content">
        <div class="tasks">
          @for (task of Object.entries(tasks); track task[0]) {
          <expandable [label]="task[1].description" [(expanded)]="taskExpandedMap[task[0]]"
            [showSeparator]="$index > 0 && !taskExpandedMap[Object.entries(tasks)[$index - 1][0]]">
            <div class="task">
              <info-block [label]="task[1].task_type" variant="secondary">
                @switch (task[1].task_type) {
                @case ('RemoteSudo') {
                <div class="task-item">
                  <info-block label="Command" variant="primary">
                    <input class="text-field" type="text" [value]="task[1].command" readonly />
                  </info-block>
                </div>
                }
                @case ('SftpCopy') {
                <div class="task-item">
                  <info-block label="Source" variant="primary">
                    <input class="text-field" type="text" [value]="task[1].source_path" readonly />
                  </info-block>
                  <info-block label="Destination" variant="primary">
                    <input class="text-field" type="text" [value]="task[1].destination_path" readonly />
                  </info-block>
                </div>
                }
                @default {
                <div class="task-item">
                  <span>No specific details for this task type</span>
                </div>
                }
                }
              </info-block>
            </div>
          </expandable>
          }
        </div>
      </div>
      }
      @case ('steps') {
      <div class="tab-content">
        <div class="tasks">
          @if (steps && steps.length > 0) {
          @for (step of steps; track step.index) {
          <expandable [label]="step.task.description" [(expanded)]="stepExpandedMap[step.index]"
            [showSeparator]="step.index > 0 && !stepExpandedMap[step.index - 1]">
            <label beforeExpandableLabel>[{{step.index + 1}}]</label>
            <div class="task">
              <info-block [label]="step.task.task_type" variant="secondary">
                @switch (step.task.task_type) {
                @case ('RemoteSudo') {
                <div class="task-item">
                  <info-block label="Command" variant="primary">
                    <input class="text-field" type="text" [value]="step.task.command" readonly />
                  </info-block>
                </div>
                }
                @case ('SftpCopy') {
                <div class="task-item">
                  <info-block label="Source" variant="primary">
                    <input class="text-field" type="text" [value]="step.task.source_path" readonly />
                  </info-block>
                  <info-block label="Destination" variant="primary">
                    <input class="text-field" type="text" [value]="step.task.destination_path" readonly />
                  </info-block>
                </div>
                }
                }
              </info-block>

              @if (step.on_fail_steps && step.on_fail_steps.length > 0) {
              <div class="task-item on-fail">
                <expandable variant="error" [nested]="true"
                  [label]="'On-Fail Steps [' + step.on_fail_steps.length + ']'"
                  [(expanded)]="onFailExpandedMap[step.index]">
                  <div class="tasks">
                    @for (onFailStep of step.on_fail_steps; track onFailStep.index) {
                    @let onFailStepKey = getOnFailStepKey(step.index, onFailStep.index);
                    @let previousExpanded = onFailStepExpanded(step.index, onFailStep.index - 1);
                    @let showSeparator = onFailStep.index > 0 && !previousExpanded;
                    <expandable [label]="onFailStep.task.description"
                      [(expanded)]="onFailStepExpandedMap[onFailStepKey]" [showSeparator]="showSeparator"
                      separatorVariant="gap" separatorSize="small">
                      <label beforeExpandableLabel>[{{onFailStep.index + 1}}]</label>
                      <div class="task">
                        <info-block [label]="onFailStep.task.task_type" variant="secondary">
                          @switch (onFailStep.task.task_type) {
                          @case ('RemoteSudo') {
                          <div class="task-item">
                            <info-block label="Command" variant="primary">
                              <input class="text-field" type="text" [value]="onFailStep.task.command" readonly />
                            </info-block>
                          </div>
                          }
                          @case ('SftpCopy') {
                          <div class="task-item">
                            <info-block label="Source" variant="primary">
                              <input class="text-field" type="text" [value]="onFailStep.task.source_path" readonly />
                            </info-block>
                            <info-block label="Destination" variant="primary">
                              <input class="text-field" type="text" [value]="onFailStep.task.destination_path"
                                readonly />
                            </info-block>
                          </div>
                          }
                          }
                        </info-block>
                      </div>
                    </expandable>
                    }
                  </div>
                </expandable>
              </div>
              }
            </div>
          </expandable>
          }
          }
        </div>
      </div>
      }
      }
    </div>

    <div class="tabs">
      @for (tab of tabsConfig; track tab.id) {
      <div class="tab" [class.active]="isTabActive(tab.id)" (click)="toggleTab(tab.id)">
        <label>{{tab.title}}</label>
      </div>
      }
    </div>
  </div>
</div>
