$titlebar-height: 30px;
$field-height: 30px;
$primary-color: rgb(218, 165, 32); // goldenrod
$primary-color-lighter-40: color-mix(in srgb, $primary-color 60%, white);
$default-font-size: 14px;
$secondary-color: rgb(30, 30, 30);
$secondary-color-lighter-2: color-mix(in srgb, $secondary-color 98%, white);
$secondary-color-lighter-5: color-mix(in srgb, $secondary-color 95%, white);
$secondary-color-lighter-40: color-mix(in srgb, $secondary-color 60%, white);
$secondary-color-lighter-60: color-mix(in srgb, $secondary-color 40%, white);
$secondary-color-lighter-70: color-mix(in srgb, $secondary-color 30%, white);
$secondary-color-darker-75: color-mix(in srgb, $secondary-color 75%, black);
$text-color: $secondary-color-lighter-70;
$button-text-color: $secondary-color;

html {
    margin: 0;
    padding: 0;
    height: 100%;

    body {
        margin: 0;
        padding: 0;
        height: 100%;

        font-family: monospace;
        font-size: $default-font-size;
        background-color: $secondary-color;
        color: $text-color;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.text-area {
    color: $text-color;
    font-size: $default-font-size;
    background-color: $secondary-color-lighter-5;
    border-color: $primary-color;
    border-width: 1px;

    &:focus {
        outline-color: $primary-color-lighter-40;
        outline-style: solid;
    }

    &::selection {
        background-color: $primary-color-lighter-40;
        color: $secondary-color;
    }
}

label {
    font-size: $default-font-size;
    color: $text-color;
    display: flex;
    align-items: center;
}

.text-field {
    @extend .text-area;
    height: 26px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $primary-color;
    background-color: transparent;

    &:focus {
        border: none;
        border-bottom: 1px solid $primary-color;
        outline-offset: 5px;
    }
}

textarea {
    @extend .text-area;

    padding: 10px;
    resize: none;
}

button {
    width: 150px;
    height: $field-height;

    background-color: $primary-color;
    color: $button-text-color;

    border-style: none;
    outline-offset: -3px;
    outline: 2px solid $secondary-color;

    font-size: $default-font-size;
    font-family: monospace;
    font-weight: bold;

    &:focus,
    &:hover {
        background-color: $primary-color-lighter-40;
        outline-offset: -4px;
        outline: 3px double $secondary-color;
    }

    &:active {
        color: $primary-color;
        background-color: $secondary-color;
        outline-offset: -4px;
        outline: 1px solid $primary-color;
        border: 1px solid $primary-color;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.gap-15 {
    gap: 15px;
}

.gap-10 {
    gap: 10px;
}

.gap-5 {
    gap: 5px;
}

.tooltip {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    background-color: $secondary-color-lighter-2;
    color: $secondary-color-lighter-40;
    text-align: center;
    padding: 5px;
    border: 1px solid $secondary-color-lighter-40;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;

    &::after {
        content: " ";
        position: absolute;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color:  transparent transparent transparent transparent;
    }
}

*:has(>.tooltip) {
    &:hover {
        .tooltip {
            visibility: visible;
            opacity: 1;
            transition-delay: 0.5s;
        }

        &:active {
            .tooltip {
                opacity: 0;
                transition: none;
            }
        }
    }
}
