<div class="row">
  <app-titlebar></app-titlebar>
</div>
<div class="row grow">
  <div class="col grow container unselectable gap-15">

    <div class="row">
      <h1 class="title">scenario-rs</h1>
    </div>

    <div class="row justify-content-center gap-10">
      <label class="title">Config file:</label>
      <input class="text-field grow" type="text" [formControl]="scenarioConfigPath">
      <button (click)="selectConfigFile()">Select</button>
    </div>

    @if ((requiredFields | keyvalue).length > 0) {
    <label class="row title">Required fields:
      <input type="checkbox" />
    </label>
    <div class="expandable">
      <form id="required-fields-form" class="row gap-10" [formGroup]="requiredFieldsFormGroup">
        <div class="col gap-10">
          @for (requiredField of requiredFields | keyvalue; track requiredField.key) {
          <div class="row gap-10">
            <label class="title">{{requiredField.value.label}}</label>
          </div>
          }
        </div>
        <div class="col grow gap-10">
          @for (requiredField of requiredFields | keyvalue; track requiredField.key) {
          <div class="row justify-content-center gap-10">
            <input class="text-field grow" type="text" [formControlName]="requiredField.key" />
            @if (requiredField.value.type === 'path') {
            <button (click)="selectRequiredFile(requiredField.key)">Select</button>
            }
          </div>
          }
        </div>
      </form>
    </div>
    }

    <div class="row gap-10">
      <div class="col grow"></div>
      <div class="col">
        <button (click)="executeScenario()">Execute Scenario</button>
      </div>
      <div class="col grow justify-content-center">
        @if (isExecuting()) {
        <span class="loader"></span>
        }
      </div>
    </div>

    <label class="row title">Execution log:
      <input type="checkbox" />
    </label>
    <div class="row grow gap-5 expandable">
      <button id="clear-log-button" (click)="clearLog()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="20 15 40 52">
          <path fill="currentColor" d="M52 33v29H28V33H52 M57 28H23v39h34V28L57 28z" />
          <path fill="currentColor" d="M45 20v-3H35v3H20v5h40v-5H45z" />
        </svg>
        <span class="tooltip">Clear log</span>
      </button>
      <div class="col grow">
        <textarea readonly class="col grow" [formControl]="executionLog"></textarea>
      </div>
    </div>
  </div>
</div>
