@use '../styles.scss';

:host {
    height: 100%;
}

.container {
    height: calc(100% - #{styles.$titlebar-height});
    box-sizing: border-box;
}

.main-content {
    padding: 0 styles.$gap-20;
    overflow: auto;
}

.padding-row-5 {
    min-height: styles.$gap-5;
    max-height: styles.$gap-5;
    width: 100%;
}

.expandable {
    border: 1px solid styles.$primary-color;
    background-color: styles.$secondary-color-lighter-2;
    padding: styles.$gap-10;
    transition: opacity 0.1s ease-in-out;
}

.expandable-container {
    min-height: styles.$title-size;
    overflow: hidden;

    &>.title {
        height: styles.$title-size;
    }

    &:has(.title input[type="checkbox"]:checked) {
        max-height: styles.$title-size;
        transition: all 0.3s cubic-bezier(0, 1, 0, 1);
    }

    &:has(.title :not(input[type="checkbox"]:checked)) {
        max-height: 100%;
        transition: all 0.5s ease-in-out;
    }

    .title:has(input[type="checkbox"]:checked)+.expandable {
        overflow: hidden;
        opacity: 0;
    }

    .title:has(:not(input[type="checkbox"]:checked))+.expandable {
        overflow: auto;
        opacity: 1;
    }
}

button.log-button {
    width: 22px;
    height: 22px;
    padding: 0px;
    color: styles.$primary-color;
    background-color: transparent;
    outline-style: none;
    border: 1px solid transparent;

    svg {
        display: block;
        width: 16px;
        margin: auto;
        aspect-ratio: 1;
    }

    &:active {
        background-color: styles.$secondary-color-lighter-5;

        &:focus,
        &:hover {
            border: 1px solid styles.$secondary-color-lighter-10;
        }

        svg {
            scale: 0.95;
        }
    }

    &:hover {
        color: styles.$primary-color-lighter-40;
    }

    .tooltip-arrow-left {
        transform: translate(22px, -20px);
    }
}

.fields-form .row {
    min-height: styles.$field-height;
}

.loader {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
}

.loader::after,
.loader::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 2px solid styles.$primary-color-lighter-40;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: styles.$primary-color;
    animation-delay: 1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
