@import '../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    padding: 20px;
}

.title {
    color: $primary-color;
    font-weight: bold;

    input[type="checkbox"] {
        display: none;
    }

    &:has(input[type="checkbox"]) {

        &:focus,
        &:hover {
            color: $primary-color-lighter-40;
        }

        &:before {
            content: '[-]\00a0';
        }
    }

    &:has(input[type="checkbox"]:checked) {
        &:before {
            content: '[+]\00a0';
        }
    }
}

.title:has(input[type="checkbox"]:checked)+.expandable {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.title:has(input[type="checkbox"])+.expandable {
    max-height: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

#clear-log-button {
    width: 22px;
    height: 22px;
    padding: 0px;
    color: $primary-color;
    background-color: $secondary-color;
    outline-style: none;
    border: 1px solid transparent;

    svg {
        display: block;
        width: 16px;
        margin: auto;
        aspect-ratio: 1;
    }

    &:active {
        background-color: $secondary-color-lighter-5;

        &:focus,
        &:hover {
            border: 1px solid $secondary-color-lighter-10;
        }

        svg {
            scale: 0.95;
        }
    }

    &:hover {
        color: $primary-color-lighter-40;
    }

    .tooltip {
        transform: translate(22px, -20px);
    }
}

#required-fields-form {
    align-items: center;
    border: 1px solid $primary-color;
    padding: 10px;
    background-color: $secondary-color-lighter-2;

    .row {
        height: $field-height;
    }
}

.loader {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
}

.loader::after,
.loader::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 2px solid $primary-color-lighter-40;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: $primary-color;
    animation-delay: 1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
