@import '../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    padding: 20px;
}

.title {
    color: $primary-color;
    font-weight: bold;

    input[type="checkbox"] {
        display: none;
    }

    &:has(input[type="checkbox"]) {
        &:focus,
        &:hover {
            color: $primary-color-lighter;
        }

        &:before {
            content: '[-]\00a0';
        }
    }

    &:has(input[type="checkbox"]:checked) {
        &:before {
            content: '[+]\00a0';
        }
    }
}

.title:has(input[type="checkbox"]:checked) + .expandable {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.title:has(input[type="checkbox"]) + .expandable {
    max-height: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

#clear-log-button {
    width: 15px;
    height: 15px;
    padding: 0px;
    outline-style: none;

    color: $primary-color;
    background-color: $background-color;
    border: none;

    svg {
        &#clear-log-button-icon-active {
            display: none;
        }
    }

    &:active svg {
        display: none;

        &#clear-log-button-icon-active {
            display: block;
        }
    }

    &:hover {
        color: $primary-color-lighter;

        &:active {
            color: $primary-color;
        }
    }

    .tooltip {
        transform: translate(10px, -12px);
    }
}

#required-fields-form {
    align-items: center;
    border: 1px solid $primary-color;
    padding: 10px;
    background-color: $background-color-lighter;

    .row {
        height: $field-height;
    }
}

.loader {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: absolute;
}

.loader::after,
.loader::before {
    content: '';
    width: 24px;
    height: 24px;
    border: 2px solid $primary-color-lighter;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: $primary-color;
    animation-delay: 1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
