<div class="execution-progress">
  @if (displaySteps.length === 0) {
  <div class="empty-state">No steps to display</div>
  } @else {
  @for (displayStep of displaySteps; track $index) {

  @let task = displayStep.task;
  @let state = displayStep.state();
  @let status = displayStep.status;

  @let expandableLabel = '[' + ($index + 1) + '] ' + task.description;
  @let showExpandableSeparator = $index > 0 && !displaySteps[$index - 1].expanded;

  <expandable [variant]="variant" [label]="expandableLabel" [(expanded)]="displayStep.expanded"
    [showSeparator]="showExpandableSeparator">
    <div class="status-indicator" [ngClass]="status" beforeExpandableLabel></div>
    <div class="task">
      @switch (task.task_type) {
      @case ('RemoteSudo') {
      <div class="task-item">
        <info-block label="Command" variant="primary">
          @let command = state && state.type === 'RemoteSudoOutput' && state.command
          ? state.command
          : task.command;
          <input class="text-field" type="text" [value]="command" readonly />
        </info-block>
      </div>

      @if (state && state.type === 'RemoteSudoOutput' && state.output) {
      <div class="task-item">
        <info-block class="output" label="Output" variant="secondary">
          <textarea wrap="off" spellcheck="false" [autoScroll]="displayStep.state" [value]="state.output" readonly>
          </textarea>
        </info-block>
      </div>
      }

      @if (status === 'executing') {
      <div class="executing-indicator">
        <div class="dot-pulse"></div>
      </div>
      }
      }
      @case ('SftpCopy') {
      <div class="task-item">
        <info-block label="Source" variant="primary">
          @let source = state && state.type === 'SftpCopyProgress'
          ? state.source
          : task.source_path;
          <input class="text-field" type="text" [value]="source" readonly>
        </info-block>

        <info-block label="Destination" variant="primary">
          @let destination = state && state.type === 'SftpCopyProgress'
          ? state.destination
          : task.destination_path;
          <input class="text-field" type="text" [value]="destination" readonly />
        </info-block>

        @let total = state && state.type === 'SftpCopyProgress' ? state.total : 0;
        @let current = state && state.type === 'SftpCopyProgress' ? state.current : 0;
        @let progress = total == 0 ? 0 : Math.round((current / total) * 100);
        <div class="progress-bar" role="progressbar" aria-label="File transfer progress" [attr.aria-valuemin]="0"
          [attr.aria-valuemax]="total" [attr.aria-valuenow]="current"
          [attr.data-content]="progress + '% (' + formatBytes(current) + ' / ' + formatBytes(total) + ')'"
          [style.--progress-percentage]="progress + '%'">
        </div>
      </div>
      }
      }

      @if (status === 'failed') {
      <expandable variant="error" label="Errors:" [(expanded)]="displayStep.errorsExpanded">
        <div class="task-item">
          @for (error of displayStep.errors; track $index) {
          <info-block class="error" label="Error" variant="error">
            <textarea spellcheck="false" [value]="error" readonly>
          </textarea>
          </info-block>
          }
        </div>
      </expandable>

      @if (displayOnFailSteps.length > 0) {
      <expandable variant="error" [nested]="true" label="On-Fail Steps:" [(expanded)]="displayStep.onFailExpanded">
        <div class="status-indicator" [ngClass]="onFailStatus" beforeExpandableLabel></div>
        <execution-progress [displaySteps]="displayOnFailSteps" [isExecuting]="isExecuting">
        </execution-progress>
      </expandable>
      }
      }
    </div>
  </expandable>
  }
  }
</div>
