@use '../../styles.scss';

:host {
    display: fixed;
    width: 100vw;
}

$size: styles.$titlebar-height;

.titlebar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto;
    height: $size;
    background: styles.$secondary-color-lighter-5;
    border-bottom: 1px solid styles.$secondary-color-lighter-20;

    #spacer {
        flex: 1;
    }

    .button {
        display: grid;
        position: relative;
        place-content: center;
        width: $size;
        height: $size;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.2s;

        svg {
            width: 14px;
            height: 14px;
            color: rgba(255, 255, 255, 0.5);
        }

        &#save {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &#close:hover {
            background-color: rgba(255, 0, 0, 0.8);

            svg {
                color: rgba(255, 255, 255, 0.8);
            }
        }

        &:active {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .tooltip-arrow-top {
            transform: translateX(-50%) translateX(($size / 2) - 5px) translateY($size + 5px);
        }

        .tooltip-arrow-left {
            transform: translateX($size + 5px) translateY(5px);
        }
    }
}
