<div data-tauri-drag-region class="titlebar unselectable">

    <div class="button" id="save" (click)="save()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path fill="currentColor"
            d="M5 5v22h22V9.594l-.281-.313l-4-4L22.406 5zm2 2h3v6h12V7.437l3 3V25h-2v-9H9v9H7zm5 0h4v2h2V7h2v4h-8zm-1 11h10v7H11z" />
        </svg>
        <span class="tooltip-arrow-top">Save application state</span>
    </div>
    <div class="button" id="minimize" (click)="minimize()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor" d="M20 14H4v-4h16" />
        </svg>
    </div>
    <div class="button" id="maximize" (click)="maximize()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor" d="M4 4h16v16H4zm2 4v10h12V8z" />
        </svg>
    </div>
    <div class="button" id="close" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor"
                d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z" />
        </svg>
    </div>
</div>
