@import '../../styles.scss';

:host {
    display: block;
    height: $titlebar-height;
    width: 100%;
}

.titlebar {
    display: flex;
    justify-content: flex-end;
    height: $titlebar-height;
    background: $secondary-color-lighter-5;

    .button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: $titlebar-height;
        height: $titlebar-height;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.2s;

        svg {
            width: 14px;
            height: 14px;
            color: rgb(255, 255, 255, 0.5);
        }

        &:hover {
            background-color: rgb(255, 255, 255, 0.1);
        }

        &#close:hover {
            background-color: rgb(255, 0, 0, 0.8);

            svg {
                color: rgb(255, 255, 255, 0.8);
            }
        }

        &:active {
            background-color: rgb(255, 255, 255, 0.2);
        }

        &#save {
            svg {
                width: 20px;
                height: 20px;
            }

            .tooltip {
                transform: translate(-5px, $titlebar-height + 5px);

                &::after {
                    bottom: 100%;
                    left: 50%;
                    border-color: transparent transparent $secondary-color-lighter-40 transparent;
                }
            }
        }
    }
}
