@use '../../../styles.scss';

:host {
  margin-top: styles.$gap-medium;

  >.block {
    display: grid;
    position: relative;
    padding-top: styles.$gap-medium;
    margin-top: -#{styles.$gap-medium};

    >label {
      position: absolute;
      left: styles.$gap-small;
      font-size: styles.$font-size-small;
      background-color: styles.$secondary-color-lighter-2;
      border-width: styles.$border-width;
      border-style: solid;
      padding: 0 styles.$gap-small;
      z-index: 1;
    }

    >.content {
      display: grid;
      padding: styles.$gap-small;
      padding-top: styles.$gap-medium;
      border-width: styles.$border-width;
      border-style: solid;
    }

    @mixin block-variant($color) {
      >label {
        color: $color;
        border-color: $color;
      }

      >.content {
        border-color: $color;
      }
    }

    &.primary {
      @include block-variant(styles.$primary-color);
    }

    &.secondary {
      @include block-variant(styles.$secondary-color-lighter-60);

      >.content {
        border-color: styles.$secondary-color-lighter-40;
      }
    }

    &.blue {
      @include block-variant(styles.$blue);
    }

    &.green {
      @include block-variant(styles.$green);
    }

    &.red {
      @include block-variant(styles.$red);
    }
  }
}
